* {
    font-family: 'Great Vibes', cursive;
    /* box-sizing: border-box; */
}

.nav-bar{
    border: solid firebrick;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -0.75rem;
    padding: .5em .25em;
}

a {
    color: white;
    padding: .25em .5em;
    text-decoration: none;
}

li {
    float: left;
    padding: 0 2em;
} 

.github-source, .contact, .prof-link {
    font-size: 2em;
}

.link-menu {
    list-style-type: none;    
}

body {
    background-color: #ffe6e6;
}

.bingo-card {
    margin: 5em auto;
    border: solid #963131 .01em;
    box-shadow: 10px 5px 5px #871313;
    display: grid;
    justify-content: space-around;
    width: 65%;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 150px);
    background:#C38989 url('./images/pierrot.jpeg');
    background-size: cover;
    object-fit: fill;
}

.bingo-card div:nth-child(-n+5) {
    border:none;
}

.column-letter {
    color:  firebrick;
    text-shadow: 2px 2px #432803;
    align-content: center;
}

.card-column {
    font-size: 3em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-column .cell h3{
    font-size: 7vw;
}

.cell {
    border: dashed firebrick;
    
}

.free-space {
    background: url('./images/candy-heart.png');
    background-size: cover;
    object-fit: fill;
}

@media (min-width: 1025px) {
    a {
        background-color: #B04A4A;
    }

	.nav-bar {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (max-width: 1024px) {
    .nav-bar {
        flex-direction: column;
    }
    
    .link-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .contact{
        background: #D7A5A5;
    } 

    .github-source{
        background: #C47777;
    } 

    .prof-link {
    	background: #B04A4A;
    }

    .bingo-card {
        width: 80%;
    }
}